<configuration>
    <property name="charset" value="UTF-8"/>
    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n"/>

    <springProfile name="default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>${charset}</charset>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="${package}" level="DEBUG"/>
</configuration>
